@*Always Define Model!!!*@
@model IEnumerable<Actor>

@*Define ViewData*@
@{
    ViewData["Title"] = "List of Actors";
}

@*Write Code*@
 <h1>Welcome to the Actors View</h1>
 <div class="Row">
     <div class="col-md-8 offset-md-2">
         <table class="table">
             <thead>
                <tr class="text-center text-white">
                    <th>@Html.DisplayNameFor(model => model.ProfilePictureURL)</th>
                    <th>@Html.DisplayNameFor(model => model.FullName)</th>
                    <th>@Html.DisplayNameFor(model => model.Bio)</th>
                    <th>Actions</th>
                </tr>
             </thead>
             <tbody>
                 @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle text-white">
                            <img class="rounded-circle" src="@item.ProfilePictureURL" alt="@item.FullName" style="max-width: 150px"/>
                        </td>
                        <td class="align-middle text-white">
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td class="align-middle text-white">@Html.DisplayFor(modelItem => item.Bio)</td>
                        <td class="align-middle text-white">
                            <a class="btn btn-outline-info text-white"><i class="bi bi-pencil-square" style="padding-right: 2px"></i>Edit </a> | 
                            <a class="btn btn-outline-secondary text-white"><i class="bi bi-info-circle" style="padding-right: 2px"></i>Details </a> | 
                            <a class="btn btn-outline-danger text-white"><i class="bi bi-trash" style="padding-right: 2px"></i>Delete </a>
                        </td>
                    </tr>

                }
             </tbody>
        </table>
        <div class="text-white">
            <a asp-controller="Actor" asp-action="Create" class="btn btn-outline-success text-white float-end" style="margin-bottom:100px"> <i class="bi bi-plus-circle" style="padding-right: 2px"></i> Add New </a>
        </div>
     </div>
 </div>

